.leisure-container {
    background: white;
    box-shadow: 0 0 2rem #e6e9f9;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 1rem 2rem 2rem 2rem;
}

.leisure-items {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.leisure-btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

.leisure-btn-group button {
    font-weight: 600;
}

.leisure-title {
    margin-top: 1rem;
    font-weight: 600;
}