.leisure-container {
    background: white;
    box-shadow: 0 0 2rem #e6e9f9;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 1rem 2rem 2rem 2rem;
}

.leisure-items {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.edit {
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 0.3rem;
    width: 30%
}

.delete {
    padding: 0.3rem;
    color: white;
    background: #FF7F7F;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 30%
}

.leisure-title {
    margin-top: 1rem;
    font-weight: 600;
}

