.side-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 85% 0 0;
    background-color: white;
    transition: width 3s;
    transition: inset 0.3s ease-out;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.side-header.sh-collapsed {
    align-items: center;
    inset: 0 95% 0 0;
    transition: inset 0.3s ease-out;
}

.side-header.sh-collapsed .side-nav ul { 
    display: flex;
    flex-direction: column;
}

.side-nav ul {
    margin-block: .5rem;
    list-style: none;
}

.side-nav ul.only-icon span {
    display: none;
}

.side-nav ul {
    padding-left: 0
}

.side-menu-icon {
    margin-inline: 1rem;
}

.side-menu-icon .menu {
    color: var(--bs-primary);
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
}

.side-nav .icon {
    align-self: center;
    margin-left: auto;
    margin-right: 0;
}

.side-nav ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-block: 1.2rem;
    padding-left: 0;
    margin: auto;
}

.side-nav ul li:hover {
    background-color: #cfd4f9;
    border-radius: 0px;
}

.side-header.sh-collapsed .side-nav ul li:hover {
    border-radius: 10px;
}

.side-header.sh-collapsed .side-nav a {
    padding: 1px;
}

.side-nav ul a.active {
    pointer-events: none;
}

.side-nav ul a.active li {
    background-color: var(--bs-primary);
    color: white;
    cursor: none;
}

.side-header.sh-collapsed .side-nav ul a.active li {
    border-radius: 10px;
}

.side-nav ul a.active li .icon {
    color: white;
}

.side-nav ul li .icon {
    color: var(--bs-primary);
    margin-inline: 1rem;
    font-size: 25px;
    padding-left: 0;
}

.side-nav ul a {
    text-decoration: none;
    color: var(--bs-primary);
}


.side-nav ul.only-icon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: #fff;
    right: 0;
}

.side-nav ul a:hover {
    transition: 500ms ease;
}

@media (max-width: 900px) {
    .side-header-mobile {
        inset: 0 90% 0 0;
        justify-content: center;
    }

    .side-nav ul {
        display: none;
    }

    .side-nav ul.only-icon {
        display: flex;
    }

    .side-menu-icon {
        display: none;
    }

    .side-nav ul li .icon {
        font-size: clamp(0.5rem, 1rem, 2rem);
    }

    .side-nav .icon {
        margin-left: 0;
    }
}