
._c_first_form {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    max-width: 420px;
}

._c_first_form .logo {
    align-self: center;
}

._c_first_form .form-field-container {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 0.9rem;
    gap: 0.5em;
    border-radius: 10px;
    color: #4d4d4d;
}

._c_first_form .input-container {
    flex: 1 1 auto;
}

._c_first_form .form-field-container input {
    outline: none;
    border: none;
    width: 100%;
}

._c_first_form .form-field-container input::-moz-placeholder {
    color: gray;
    font-size: 0.9em;
}

._c_first_form .form-field-container input:-ms-input-placeholder {
    color: gray;
    font-size: 0.9em;
}

._c_first_form .form-field-container input::placeholder {
    color: gray;
    font-size: 0.9em;
}

._c_first_form .form-field-container .ion-icon {
    color: #4d4d4d;
    margin-right: 0.5rem;
}

._c_first_form.form-field-container .show-hide {
    margin-right: -5em;
}

._c_first_form .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
}

._c_first_form .footer span {
    cursor: pointer;
}

._c_first_form button {
    cursor: pointer;
}

._c_first_form .error-container {
    display: block;
    flex: 1 1 auto;
    word-wrap: break-word;
}

._c_first_form .error {
    text-align: left;
    font-size: 0.8rem;
    color: red;
}

._c_first_form .input-container {
    display: flex;
    align-items: center;
}

