.page-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.success-email-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-state {
    background: #FF7F7F;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.success-state {
    font-size: 1rem;
    background: #99FF99;
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
}

.login {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}
