.page-container { /*overrlap by EmailConfirmation*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #b7cffc;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}