.page-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}


.login-form {
    background: #f1f7fe;
    padding: 1.7em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 1.7em;
    max-width: 420px;
}

.login-form .logo {
    align-self: center;
}

.login-form .form-field-container {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 0.7rem;
    gap: 0.3em;
    border-radius: 5px;
    color: #4d4d4d;
}

.login-form .input-container {
    flex: 1 1 auto;
}

.login-form .form-field-container input {
    outline: none;
    border: none;
 
}

.login-form .form-field-container input::-moz-placeholder {
    color: gray;
    font-size: 0.9em;
}

.login-form .form-field-container input:-ms-input-placeholder {
    color: gray;
    font-size: 0.9em;
}

.login-form .form-field-container input::placeholder {
    color: gray;
    font-size: 0.9em;
}

.login-form .form-field-container .ion-icon {
    color: #4d4d4d;
    margin-right: 0.5rem;
}

.login-form .form-field-container .show-hide {
    margin-right: -5em;
}

.login-form .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
}

.login-form .footer span {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.error-container {
    display: block;
    flex: 1 1 auto;
    word-wrap: break-word;
}

.error {
    text-align: left;
    font-size: 0.8rem;
    color: red;

}

.input-container {
    display: flex;
    align-items: center;
}

