.a-navbar {
    min-height: 3.5rem;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-out;
    backdrop-filter: blur(5px);
}

.navbar-profile-link {
    text-decoration: none;
    display: flex;
}

.navbar-fullname-container {
    margin-left: auto;
    display: flex;
}

.navbar-fullname {
    font-size: 1.2rem;
    color: var(--bs-white);
    align-self: center;
    margin-right: 1rem;
    padding: 0 1rem 0 1rem;
}