$primary: #3e4684;
$pagination-font-size: 1.2rem;
//$pagination-padding-x: 1rem;
$danger: #ff4646;
// $success: lime;
// $warning: orange;
// $info: aqua;

@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$f-max-widths: (
    xs: 100%,
    sm: 320px,
    md: 340px,
    lg: 360px,
    xl: 420px,
    xxl: 580px
);

@each $breakpoint, $width in $f-max-widths {
    @include media-breakpoint-up($breakpoint) {
        .f-container-#{$breakpoint} {
            max-width: $width !important;
            @include make-container();
        }
    }
}


.f-container {
    @extend .f-container-sm !optional;
}


$sec-max-widths: (
    xs: 100%,
    sm: 540px,
    md: 600px,
    lg: 720px,
    xl: 810px,
    xxl: 1200px
);

@each $breakpoint, $width in $sec-max-widths {
    @include media-breakpoint-up($breakpoint) {
        .sec-container-#{$breakpoint} {
            max-width: $width !important;
            @include make-container();
        }
    }
}

.sec-container {
    @extend .sec-container-sm !optional;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.all-count {
    font-size: 1.6rem;
}

/* Extra small devices (320px and down) */
@media only screen and (max-width: 320px) {
    html {
        font-size: 9px !important;
    }
}

/* Small devices (320px and up) */
@media only screen and (min-width: 320px) {
    html {
        font-size: 10px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 12px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 13px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 1920px) {
    html {
        font-size: 18px !important;
    }
}